body {
	margin: 0;
	font-family: helvetica;
}

h2 {
	font-size: 1.6rem;
	text-transform: uppercase;
	color: #519657;
}

.intro {
	margin-bottom: 2.5rem;
}

h4 {
	padding-top: 7px;
	text-transform: uppercase;
}

p {
	font-size: 1rem;
}

.laskuri {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.laskuri-box {
	border: 1px solid lightgrey;
	padding: 1.5rem;
	margin: 1rem;
	max-width: 450px;
	line-height: 1.6rem;
	margin: 1em;
	margin-bottom: 100px;
}

.box-start {
	padding-bottom: 20px;
	border-top: 1px solid lightgrey;
}

.box-end {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}

input[type="number"], input[type="tel"], input[type="text"], input[type="email"] {
	width: 100%;
	font-size: 1rem;
	box-sizing: border-box;
	padding: 6px;
}

select {
	width: 100%;
	font-size: 1rem;
	border: none;
}

textarea {
	width: 100%;
	font-size: 1rem;
}

/* RADIO BUTTONS */

.radio {
	display: flex;
	justify-content: space-around;
}

.radio input {
	display: none;
}

.piano {
	background-image: url(img/piano.jpg);
}

.flyygeli {
	background-image: url(img/grand-piano.jpg);
}

.radio input:checked + .radio-img {
	filter: none;
}

.radio-img {
	box-shadow: 0px 4px 8px grey;
	border-radius: 3px;
	margin-bottom: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	width: 150px;
	height: 150px;
	transition: all 100ms ease; 
	filter: brightness(1.8) grayscale(1) opacity(.7);
}

.radio-img:hover {
	filter: brightness(1.2) grayscale(0.5) opacity(.9);
}

/* Button */

button {
	background-color: #519657;
	color: white;
	font-size: 16px;
	padding: 16px;
	border: none;
	border-radius: 4px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	margin-top: 10px;
	width: 100%;
}

button:hover {
	filter: brightness(1.2);
}

button:focus {
	outline: 0;
}

/* Laskurin jälkeinen lomake */

#new-div {
	padding: 0px;
	background-color: #b1f9b3;
	border-radius: 4px;
}

h5 {
	font-size: 1.1rem;
	margin-bottom: 0;
}

/* FOOTER */
footer {
	height: 4vh;
	background-color: #81c784;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* RESPONSIVE SETTINGS */
@media (min-width: 1200px) {
	h1 {
		font-size: 4rem;
	}
}

@media (max-width: 800px) {
	h1 {
		font-size: 2.3rem;
	}

	.nav-main {
		font-size: 0.8rem;
	}
}

@media (max-width: 500px) {
	h1 {
		font-size: 2rem;
	}

	.nav-main {
		font-size: 0.7rem;
	}

	.nav-main li {
		padding: 10px;
	}
}










